.Setup {
  display: flex;
  justify-content: center;
  align-items: center;
  &__wrapper {
    text-align: center;
    max-width: 455px;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 4px;
    width: 100%;
    & > * {
      max-width: 300px;
      margin: 0 auto;
    }
  }
  &__form {
    & > * {
      width: 100%;
    }
    & > :nth-child(odd) {
      margin-bottom: 20px;
    }
  }
  &__toggler-row {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    align-items: center;
    font-weight: bold;
  }
}
