.Setup {
  display: flex;
  justify-content: center;
  height: fit-content !important;
  &__wrapper {
    text-align: center;
    max-width: 455px;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 4px;
    width: 100%;
    height: fit-content;
    margin-top: 15vh;
    margin-bottom: 15vh !important;
    & > * {
      max-width: 300px;
      margin: 0 auto;
    }
  }
  &__button {
    margin-top: 40px;
  }
}
