.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  &__wrapper {
    border: 1px solid;
    border-radius: 4px;
    display: flex;
    max-width: 1028px;
    margin: 40px auto;
    @media (max-width: 769px) {
      flex-direction: column;
      padding: 0 20px;
      width: 100vw;
      max-width: 400px;
    }
  }
  &__illustration {
    flex: 1 1 0px;
    img {
      height: 566px;
      width: 100%;
      min-height: 100%;
      margin: 0 auto;
      @media (min-width: 768px) {
        min-width: 380px;
      }
    }
    @media (max-width: 769px) {
      display: none;
    }
  }
  &__right-wrapper {
    flex: 1 1 0px;
    padding: 42px 0;
    @media (min-width: 768px) {
      min-width: 350px;
    }
    & > * {
      margin: 0 auto;
    }
    & > :nth-child(1),
    & > :nth-child(3) {
      max-width: 300px;
    }
    & > :nth-child(2) {
      margin: 40px auto;
      max-width: 372px;
      border-style: solid;
      border-bottom: 0;
    }
  }
  &__signup {
    &-prompt {
      text-align: center;
      position: relative;
      top: 20px;
    }
    &-link {
      text-decoration: none;
    }
  }
}
