.TabSwitch {
  &_tabs {
    padding-bottom: 30px;
  }
  &_tab-btn {
    margin-bottom: 20px;
    display: inline;
    padding-right: 10px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    cursor: pointer;
  }
}
