.Downloads {
  &__section {
    min-height: 93vh;
    display: flex;
    justify-content: space-evenly;
  }

  &__mobile {
    align-items: center;

    & div {
      flex: 0 1 40%;
    }

    &-icons {
      display: flex;
      justify-content: space-between;
      width: 70%;
    }
  }

  &__extension {
    & div {
      align-self: center;
      flex: 0 1 50%;
    }

    & .img {
      margin-top: 100px;
      align-self: start;
    }
  }

  &__desktop {
    justify-content: center;

    &-1 {
      flex: 0 1 35%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    &-windows,
    &-apple {
      display: flex;
      justify-content: space-between;
    }

    & .img {
      align-self: center;
    }

    &-text {
      border: 1px solid #e5e5e5;
      border-radius: 5px;
      padding: 10px;
      flex: 0 1 70%;
      height: 140px;
    }
  }

  .button {
    max-width: 120px;
  }

  .title {
    font-size: 60px;
  }

  .subtitle {
    font-size: 25px;
    display: inline-block;
    margin-bottom: 40px;
  }
}
