@import './variables';

.Dashboard {
  max-width: $dashboard-width;
  margin: 40px auto 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  &__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__total {
    display: flex;
    flex-direction: column;
    height: 66px;
    font-weight: bold;
    justify-content: center;
    padding: 0 20px;
    .total-caption {
      font-size: 10px;
      margin-bottom: 5px;
    }
    .total-value {
      font-size: 20px;
    }
  }
}
