.LoginForm {
  text-align: center;
  width: 100%;
  &__inputs-wrapper {
    input {
      display: block;
      width: 100%;
    }
    & > :nth-child(1) {
      margin-bottom: 20px;
    }
    & > :nth-child(2) {
      margin-bottom: 40px;
    }
  }
}
