@import './variables';
@import '../../index.scss';

.Navigation {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  z-index: 100000;
  border-bottom: 1px solid;
  border-color: #e8e8e8;
  transition: background-color 0.3s;
  a {
    color: inherit;
    text-decoration: none;
  }
  &__inner {
    display: flex;
    align-items: center;
    height: $nav-height;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
  &__Logo__img {
    height: 29px;
    width: 24px;
  }
  &__items-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: auto;
    margin-left: 30px;
    a {
      color: unset;
      text-decoration: none;
    }
    li {
      margin: 0 20px;
    }
  }
  &__right {
    display: flex;
    margin-left: auto;
    align-items: center;
    &_menu {
      display: flex;
      align-items: center;
      &_user {
        font-weight: bold;
      }
      &_line {
        margin: auto 10px;
        height: 50px;
        width: 1.5px;
      }
      &_logout {
        border: none;
        padding: 0;
        margin: 0;
        background-color: transparent;
        margin-left: 3px;
        cursor: pointer;
      }
      &_arrow {
        height: 30px;
        width: 34px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 3px;
      }
    }
  }
  @media (max-width: 769px) {
    & > :not(:nth-child(1)):not(:nth-child(2)) {
      display: none;
    }
  }
  &__button-link-1 {
    margin-left: 30px;
    .button {
      background-color: transparent;
      color: map-get($colors, primary);
      border: 2px solid map-get($colors, primary);
    }
  }
  &__button-link-2 {
    margin-left: 30px;
  }
  .button {
    width: 100vw;
    max-width: 139px;
    min-width: 100px;
  }
}
