.Toggler {
  $padding: 2px;
  $circle-width: 24px;
  height: 28px;
  width: 48px;
  border: none;
  border-radius: 15px;
  background-color: #363a41;
  display: flex;
  align-items: center;
  padding: $padding;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
  }
  div {
    height: 100%;
    width: $circle-width;
    border-radius: 100%;
    transition: 0.3s;
    margin-left: 0;
  }
  &__on {
    div {
      margin-left: $circle-width - (2 * $padding) !important;
    }
  }
}
