.Table {
  @mixin row-styles {
    display: flex;
    height: 60px;
    align-items: center;
    border-top: 1px solid;
    & > :last-child {
      flex: 0;
      min-width: 100px;
      margin-right: 0px;
    }
  }
  &__placeholder {
    margin-right: 15px;
    height: 24px;
  }
  overflow-x: auto;
  & > * {
    padding: 0 30px;
  }
  &__header {
    height: 70px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
  &__heading {
    font-weight: normal;
    font-size: 16px;
    font-weight: 500;
  }
  &__col-headings {
    @include row-styles;
    > * {
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;
      flex: 1 1 0px;
    }
  }
  &__row {
    @include row-styles;
    > * {
      font-size: 14px;
      font-weight: bold;
      flex: 1 1 0px;
    }
  }
}
