@import '../../../../index.scss';

.Notification {
  display: flex;
  align-items: center;
  border: 1px solid rgb(126, 189, 126);
  background-image: linear-gradient(rgb(231, 245, 231), rgb(226, 236, 226), rgb(231, 245, 231));
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 1px 1px 16px -7px rgb(64, 187, 64);
  &__content {
    margin-left: 20px;
    max-width: 250px;
  }
  &__icon {
    height: 40px;
    width: 40px;
    align-self: flex-start;
    background-color: rgb(64, 187, 64);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    & > div {
      height: 70%;
      width: 70%;
      border-radius: 100%;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      & > svg {
        height: 40%;
        width: 40%;
        path {
          fill: rgb(64, 187, 64);
        }
      }
    }
  }
  &__close_button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 30px;
    margin-left: 50px;
    &:hover {
      background-color: white;
    }
    svg {
      height: 9px;
      width: 9px;
      path {
        fill: map-get($colors, grey);
      }
    }
  }
}
