body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

$colors: (
  'primary': #1565d8,
  'grey': #626262,
  'light': #ffffff,
  'dark': #222222,
  'ash': #e0e0e0,
);

@mixin background-keysign($parent, $color) {
  #{$parent} {
    background-color: $color;
  }
  #{$parent}-i {
    background-color: $color !important;
  }
}

@mixin text-keysign($parent, $color) {
  #{$parent} {
    color: $color;
  }
  #{$parent}-i {
    color: $color !important;
  }
}

@mixin border-keysign($parent, $color) {
  #{$parent} {
    border-color: $color;
  }
  #{$parent}-i {
    border-color: $color !important;
  }
}

@each $name, $color in $colors {
  @include background-keysign('.background-keysign-#{$name}', $color);
}

@each $name, $color in $colors {
  @include text-keysign('.text-keysign-#{$name}', $color);
}

@each $name, $color in $colors {
  @include border-keysign('.border-keysign-#{$name}', $color);
}

.input {
  height: 45px;
  font-size: 16px;
  padding: 12px;
  box-sizing: border-box;
  border-color: map-get($colors, ash);
  color: map-get($colors, grey);
  border-style: solid;
  border-radius: 4px;
}

.button {
  height: 45px;
  background-color: map-get($colors, primary);
  border-radius: 4px;
  width: 100%;
  border: none;
  font-size: 17px;
  color: map-get($colors, light);
  &:hover {
    cursor: pointer;
  }
}

.heading {
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 20px;
}

.paragraph {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;
}
