.Wallet {
  &__right {
    border: none !important;
  }
  &__left {
    padding: 25px 40px;
    box-sizing: border-box;
    height: fit-content;
  }
  &__small-heading {
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__large-text {
    font-size: 20px;
    font-weight: 500;
    margin-top: 3px;
  }
  &__right-mid {
    margin: 16px 0 0 0;
  }
  &__toggle-key {
    img {
      height: 8px;
      width: 13px;
    }
  }
  &__actions {
    display: flex;
    & > :nth-child(even) {
      margin-left: 10px;
    }
  }
  &__heading-actions-row {
    display: flex;
    align-items: center;
    & > :nth-child(1) {
      margin-right: auto;
    }
  }
}

.TransferButton {
  max-width: 167px;
  svg {
    margin-right: 10px;
  }
}
