@import '../../components/Navigation/variables';

.Layout {
  padding-top: $nav-height;
  box-sizing: border-box;
  & > :nth-child(2) {
    margin: 0 auto;
  }
  &__content {
    $min-height: calc(100vh - #{$nav-height});
    min-height: $min-height;
    & > * {
      height: fit-content;
      min-height: $min-height;
    }
  }
}
