.Faq {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #626262;
}

.Column {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
}

.Faq-title {
  width: 144px;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 88px;
  margin: 30px 0 0 0;
  letter-spacing: 0.2px;
}

.Faq-description {
  width: 373px;
}

.Faq-nav {
  ul {
    padding-inline-start: 0px;
    border-left: solid #E0E0E0;
    border-width: 0 1px;
    border-width: 0 2px transparent;
    & li {
      list-style: none;
    }
  }
  a {
    text-decoration: none;
    padding-left: 20px;
    color: #363A41;
    &:hover {
      padding-left: 17px;
      border-width: 0 2px;
      border-left: solid #363A41;
    }
  }

}

.Faq-content {
  width: 713px;
  height: 1103px;
  left: 562px;
  top: 268px;

  /* STROKE */
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 45px;
}

.Faq-svg {
  width: 295px;
  min-height: 190px;
  padding-bottom: 5%;
  padding-left: 25%;
}
