.Faq {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

p {
  //font-family: Graphik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.2px;

  color: #626262;
}

.Column {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
}

.Faq-title {
  width: 144px;

  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 88px;
  margin: 30px 0 0 0;

  /* identical to box height, or 122% */
  letter-spacing: 0.2px;
}

.Faq-description {
  width: 373px;
  height: 48px;
}

.Faq-nav {
  width: 296px;
  height: 198px;
  left: 165px;
  top: 268px;
  ul {
    padding-inline-start: 20px;
    border-left: solid #000000;
    border-width: 0 1px;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #363A41;
  }
  a:target {
    background-color: #990000;
  }
}

.Faq-content {
  width: 713px;
  height: 1103px;
  left: 562px;
  top: 268px;

  /* STROKE */
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 45px;
}

.Faq-svg {
  width: 295px;
  min-height: 190px;
  padding-bottom: 5%;
  padding-left: 25%;
}
